@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@media screen and (max-width: 768px) {
  html {
    font-size: 1rem; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 0.6875rem; } }

body, html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 0;
  overflow-x: hidden; }

.section__wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  max-width: 940px;
  width: 95%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
  border: none;
  cursor: pointer; }
  .order-link:hover {
    background-color: #b03818; }

.hero {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.625rem; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }
  @media screen and (max-width: 768px) {
    .nav__item {
      display: none; } }

.nav__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  max-width: 940px;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 15%; }
  @media screen and (max-width: 768px) {
    .hero__content {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0 20%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .hero__content {
      padding: 0; } }

.hero__img, .hero__description {
  display: flex;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .hero__img, .hero__description {
      width: auto; } }

.hero__img {
  align-items: center; }

.hero__description {
  flex-direction: column;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 1; }

.hero__arrow {
  margin: 0 auto;
  position: absolute;
  bottom: 1.5625rem;
  height: 1.5625rem;
  width: 1.5625rem; }

.hero__icon {
  width: 100%;
  height: 100%;
  fill: #fff; }
  .hero__icon:hover {
    fill: crimson; }

.best {
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.best__wrapper {
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1 0%; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem; }

.best__aboutfood {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .best__aboutfood {
      flex-direction: column; } }

.best__information {
  flex-basis: 33.3%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__information {
      flex-direction: row; } }

.best__desc {
  color: #000;
  font-family: 'Lifehack';
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 6%;
  padding-top: 1.875rem; }

.best__img {
  height: 5.625rem; }
  @media screen and (max-width: 480px) {
    .best__img {
      width: 30%; } }

.best__icon {
  width: 100%;
  height: 100%; }

.best__icon--meat {
  fill: #e25028; }

.best__icon--hand {
  fill: #f8b43a; }

.best__icon--natural {
  fill: #8ac03e; }

@media screen and (max-width: 480px) {
  .best__text {
    text-align: left; } }

@media screen and (max-width: 480px) {
  .best__textcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%; } }

.burgers {
  background: linear-gradient(180deg, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b); }

.burgers__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; }

.burgers__arrow {
  width: 10%; }

.burgers__arrow-right {
  width: 10%;
  display: flex;
  align-items: center;
  margin: 0.625rem; }

.burgers__arrow-left {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.625rem; }

.right-arrow {
  background: url(../img/content/items/arrow-scroll-right.png) center center no-repeat;
  width: 0.9375rem;
  height: 1.6875rem; }

.left-arrow {
  background: url(../img/content/items/arrow-scroll-left.png) center center no-repeat;
  width: 0.9375rem;
  height: 1.6875rem;
  flex-direction: row-reverse; }

.burgers__section {
  display: flex;
  flex-direction: row; }

.burges__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%; }
  .burges__menu.first__burger .burgers__menu-picture {
    background: url(../img/bg/burger_bg.png) center center no-repeat; }
  .burges__menu-picture {
    width: 50%; }
  .burges__menu-information {
    width: 50%; }

.burgers__menu-information {
  display: flex;
  flex-direction: column;
  align-items: center; }

.burgers__menu-information .section__title {
  color: #fff; }

.burgers__menu-picture {
  width: 50%;
  height: 100%;
  min-width: 29.375rem;
  min-height: 20.625rem; }

.burgers__menu-information--description {
  color: #fff; }

.burgers__menu-information--price-order {
  display: flex;
  flex-direction: row;
  align-items: center; }

.reviews {
  height: 100%;
  width: 100%; }

.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  flex-basis: 25%; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%;
      flex-basis: auto; } }

.review {
  height: 100%;
  position: relative; }
  .review:hover .review__hover {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }

.review__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: grayscale(1); }

.review__hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  transition: .5s;
  padding: 3.125rem 1.875rem 0rem 1.25rem;
  background-color: rgba(0, 1, 5, 0.7); }
  @media screen and (max-width: 768px) {
    .review__hover {
      padding: 3% 12%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      vertical-align: center; } }

.review__title {
  font-family: 'Gagalin';
  font-size: 0.875rem;
  margin-bottom: 0.9375rem;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .review__title {
      margin-bottom: 0.875rem; } }

.review__shorttext {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1.25rem; }

.review__view {
  display: inline-block;
  width: 6.875rem;
  border-radius: 0.3125rem;
  background-color: #2f3234;
  padding: 0.625rem 0.9375rem;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: .5s; }
  .review__view:hover {
    background-color: #232527; }

.team {
  background: url(../img/bg/team_bg.png) center center no-repeat;
  background-size: cover;
  position: relative; }

.team__wrapper {
  display: flex;
  max-width: 58.75rem; }

.team__section {
  top: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team__section {
      width: 100%;
      padding: 0; } }

.team__content {
  width: 70%; }
  @media screen and (max-width: 768px) {
    .team__content {
      text-align: center; } }

.team-accordeon {
  padding-top: 3.75rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon {
      padding-top: 6.25rem; } }

.team-accordeon__title {
  font-size: 0.875rem;
  color: #fff;
  font-family: 'Gagalin';
  margin-bottom: 0.625rem;
  text-decoration: none;
  display: flex;
  align-items: center; }
  .team-accordeon__title:before {
    content: "";
    width: 0rem;
    height: 0rem;
    border: 0.5625rem solid transparent;
    border-top-color: #f8b43a;
    border-bottom: none;
    margin-right: 0.625rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__title {
      font-size: 1.5625rem; } }

.team-accordeon__item {
  margin-bottom: 1.25rem; }
  .team-accordeon__item.active {
    margin-bottom: 2.5rem; }
    @media screen and (max-width: 768px) {
      .team-accordeon__item.active {
        margin-bottom: 0.625rem; } }
    .team-accordeon__item.active .team-accordeon__content {
      height: auto; }
      @media screen and (max-width: 768px) {
        .team-accordeon__item.active .team-accordeon__content {
          margin-bottom: 0.9375rem; } }
    .team-accordeon__item.active .team-accordeon__title {
      color: #f8b43a; }
      .team-accordeon__item.active .team-accordeon__title:before {
        transform: rotate(180deg); }
  @media screen and (max-width: 768px) {
    .team-accordeon__item {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.team-accordeon__content {
  display: flex;
  overflow: hidden;
  height: 0;
  align-items: flex-start; }
  @media screen and (max-width: 768px) {
    .team-accordeon__content {
      display: flex;
      align-items: center;
      flex-direction: column; } }

.team-accordeon__description {
  padding-left: 1.375rem;
  padding-top: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__description {
      padding-top: 0.9375rem; } }

.team-accordeon__image {
  padding-left: 1.875rem; }

.team-accordeon__description-title {
  font-size: 0.9375rem;
  color: #fff;
  margin-bottom: 0.625rem;
  font-weight: 600; }

.team-accordeon__description-text {
  color: #fff;
  font-size: 0.875rem; }

.team-accordeon__avatar {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }

.team-accordeon__avatar-pic {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: none; }

.order {
  background: url(../img/bg/form_bg.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center; }

.order__mask {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%; }

.order__wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.order__form-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 940px;
  height: 100%;
  margin-top: 50px; }
  @media screen and (max-width: 768px) {
    .order__form-main {
      flex-direction: column;
      padding: 0 17%; } }

.order__left-blocks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.order__right-blocks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.order__outer-blocks {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row; }

.order__inner-blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px; }

.form-field {
  width: 100%; }

.form__input {
  width: 100%;
  font-size: 1rem;
  padding: 0.625rem;
  background: #fff;
  border-radius: 0.4375rem;
  border: none;
  flex: 1;
  resize: none; }
  .form__input.form-right {
    height: 7.3125rem; }

.order__radio {
  margin-top: 12px; }

.order__radio-second {
  margin-left: 8px; }

.order__callback {
  margin-top: 20px; }

.order__confirm {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.order__submit-btn {
  margin-top: 14px; }
  .order__submit-btn.order-link {
    border: none; }

.order__clear {
  margin: 14px 16px;
  padding-top: 10px;
  color: #fff;
  text-decoration: none;
  background: none;
  border: none; }
  .order__clear:hover {
    text-decoration: underline;
    cursor: pointer; }

.fixed-menu {
  position: fixed;
  top: 5rem;
  right: 2.8125rem; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item {
  margin-bottom: 0.625rem; }
  .fixed-menu__item.active .fixed-menu__link {
    border-color: #fff; }

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  display: block;
  border: 0.0625rem solid transparent; }
  .fixed-menu__link:hover {
    border: 0.0625rem solid #fff; }
  .fixed-menu__link:before {
    content: "";
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.menu {
  background: url("../img/bg/menu_bg.png") center no-repeat;
  background-size: cover;
  position: relative; }

.menu__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.menu-title {
  top: 6.875rem;
  left: 5.625rem;
  position: absolute;
  color: #fff; }

.menu-accordeon {
  display: flex;
  height: 100%; }

.menu-accordeon__cover {
  position: relative; }
  .menu-accordeon__cover-meat {
    background: url("../img/content/items/meat-menu.png") center no-repeat;
    background-size: cover; }
  .menu-accordeon__cover-vegeterians {
    background: url("../img/content/items/vegeterian-menu.png") center no-repeat;
    background-size: cover; }
  .menu-accordeon__cover-diet {
    background: url("../img/content/items/diet-menu.png") center no-repeat;
    background-size: cover; }

.menu-accordeon__mask {
  height: 100%;
  width: 5rem;
  background-color: rgba(47, 50, 52, 0.7); }

.menu-accordeon__item {
  display: flex; }
  .menu-accordeon__item.active .menu-accordeon__content {
    padding: 3.75rem 1.875rem;
    width: 33.75rem;
    color: white; }
    @media screen and (max-width: 768px) {
      .menu-accordeon__item.active .menu-accordeon__content {
        width: 100%; } }

.menu-accordeon__title {
  width: 5rem;
  background: transparent; }

.menu-accordeon__link {
  font: 2.5rem "Gagalin";
  font-size: 2.5rem;
  line-height: 4rem;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transform: translate(-50%, -50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap; }

.menu-accordeon__content {
  background-color: rgba(47, 50, 52, 0.93);
  font-weight: 300;
  width: 0;
  padding: 0;
  overflow: hidden; }

.contacts {
  background: none;
  background-size: cover;
  position: relative; }

.contacts__map {
  width: 100%;
  height: 100%; }

.footer {
  height: 3.75rem;
  width: 100%;
  background: #0d0d0d;
  position: absolute;
  bottom: 0; }

.footer__wrapper {
  margin: 0 auto;
  max-width: 58.75rem;
  width: 100%;
  display: flex;
  height: 100%; }

.footer__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer__content-address {
    font-family: 'Ubuntu-Light';
    font-size: 0.875rem;
    color: white; }
  .footer__content__phone-link {
    font-family: 'Ubuntu-Bold';
    font-size: 0.875rem;
    color: #e45028; }

.footer__social {
  padding-top: 1.25rem;
  text-align: right;
  width: 50%; }
  .footer__social-item {
    display: inline-block;
    margin-left: 0.625rem; }
  .footer__social-link {
    display: block; }
  .footer__social-img {
    height: 1.0625rem;
    fill: #5a5a5a;
    width: 1.875rem; }
    .footer__social-img:hover {
      fill: #fff; }

.footer-sprite {
  width: 1.25rem;
  height: 1.25rem; }

.hamburger-menu {
  vertical-align: middle;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.625rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: flex; } }

.hamburger-menu__bars {
  fill: #fff; }
