.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best__wrapper {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20%;
}

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: rem(60px);
}

.best__aboutfood {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: flex-start;
}

.best__information {
  flex-basis: 33.3%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.best__desc {
  color: #000;
  font-family: 'Lifehack';
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 6%;
}
