.order {
    background: url(../img/bg/form_bg.png) center center no-repeat;
    background-size: cover;
}

.order__mask {
    background:rgba(black, .90);    
    width:100%;
    height: 100%;
}

.order__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order__forms {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: #fff;
    padding-top: 60px;
}

.form {
flex-basis: 50%;
}

.form__titles {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20px;
}

.form__titles-telephone {
    margin-left: 204px;
}

.form__titles-part {
    margin-left: 85px;
}

.form__titles-flat {
    margin-left: 67px;
}

.form__titles-floor {
    margin-left: 47px;
}

.form__row {
    display: flex;
    margin-bottom: 17px;
    align-items: flex-start;
    justify-content: space-around;
}
.form__input {
    font-size: 16px;
    padding: 10px;
    background: #fff;
    border-radius: 7px;
    border:none;
    flex: 1;
    margin-left: 20px;
    width: 100%;
    &:first-child {
        margin-left: 0;
    }
    &.form-right {
        height: 110px;
    }
}
.form-right {
    height: 100%;
    margin-left: 20px;
    flex-basis: 50%;
}
.form__row-right {
    height: 100%;
}

.order__radio {
    
    margin-top: 12px;
}

.order__radio-second {
    margin-left: 8px;
}

.order__callback {
    margin-top: 20px;
}

.order__confirm {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.order__submit-btn {
    margin-top: 14px;
    &.order-link {
        border:none;
    }
}

.order__clear {
    margin: 14px 16px;
    padding-top: 10px;
}

.order-reset{
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
